<div class="flex flex-col gap-y-10 bg-white min-h-60">
    {{# Categories #}}
    <div>
        <div class="flex items-center justify-between mt-8 mb-9 border-primary-500 md:hidden">
            <x-heading size="h5">{{ 'Filter By' | trans }}</x-heading>
            <button @click="sidebar = false" class="rounded-full p-[10px] border border-primary-950">
                {{ svg src="close" class="w-5 h-5 fill-current text-primary-950 shrink-0" }}
            </button>
        </div>

        <x-dropdown defaultValue="true">
            <x-dropdown.trigger class="w-full flex items-center justify-between pb-4 border-b border-primary-950">
                <x-heading size="h6" color="light"> {{ 'Categories' | trans }}</x-heading>
            </x-dropdown.trigger>
            <x-dropdown.content>
                <ul class="pt-5 flex flex-col gap-y-4">
                    {{ taxonomy:categories }}
                        <li wire:loading.class="opacity-50 pointer-events-none">
                            <label for="{{ id }}" class="flex">
                                <x-checkbox value="{{ id }}" id="{{ id }}" wire:model.live="categories"
                                    wire:loading.attr="disabled" />
                                <x-paragraph weight="medium" class="uppercase ml-4">
                                    {{ title }}
                                </x-paragraph>
                            </label>
                        </li>
                    {{ /taxonomy:categories }}
                </ul>
            </x-dropdown.content>
        </x-dropdown>
    </div>

    {{# Colors #}}
    <x-dropdown>
        <x-dropdown.trigger class="w-full flex items-center justify-between pb-4 border-b border-primary-950">
            <x-heading size="h6" color="light"> {{ 'Color' | trans }}</x-heading>
        </x-dropdown.trigger>
        <x-dropdown.content>
            <ul class="pt-5 pb-10 flex flex-col gap-y-4 md:pb-0">
                {{ taxonomy:colors }}
                    <li wire:loading.class="opacity-50 pointer-events-none">
                        <label for="{{ id }}">
                            <div class="flex justify-between">
                                <div class="flex">
                                    <x-checkbox value="{{ id }}" id="{{ id }}" wire:model.live="colors"
                                        wire:loading.attr="disabled" />
                                    <div style="background-color: {{ color }}" class="w-6 h-6 rounded-full mx-4">
                                    </div>
                                    <x-paragraph weight="medium" class="uppercase mr-2">
                                        {{ title }}
                                    </x-paragraph>
                                </div>
                                <x-paragraph color="light" class="uppercase mr-2">
                                    ({{ entries_count }})
                                </x-paragraph>
                            </div>
                        </label>
                    </li>
                {{ /taxonomy:colors }}
            </ul>
        </x-dropdown.content>
    </x-dropdown>
</div>
