{{ if variant === 'cart' }}
    <div class="flex pb-8 border-b lg:items-center border-primary-400">
        <div class="items-center justify-between w-full space-y-4 lg:flex lg:space-x-4 lg:space-y-0">
            <div class="flex items-center space-x-4">
                <div class="w-20 h-20 overflow-hidden">
                    {{ partial:components/picture :image="product:image" class="object-cover" }}
                </div>
                <div>
                    <x-paragraph class="uppercase">
                        {{ product:title }}
                    </x-paragraph>
                    <x-paragraph class="!text-2xl lg:!text-3xl">
                        {{ product:title }}
                    </x-paragraph>
                </div>
            </div>
            <div x-data="{ quantity: {{ quantity }} }">
                {{ sc:cart:updateItem :item="id" }}
                    <div class="flex items-center space-x-2">
                        <label for="quantity">
                            <x-paragraph size='lg' class="!text-primary-700 uppercase">
                                {{ 'Qty' | trans }}
                            </x-paragraph>
                        </label>
                        <button @click="quantity > 1 ? quantity-- : null" aria-label="Decrease quantity">
                            {{ svg src='minus-bold' class="w-6 h-6 fill-current shrink-0 text-primary-950 hover:cursor-pointer" }}
                        </button>
                        <input type="text" x-model="quantity" id="quantity" name="quantity" class="hidden" />
                        <span x-text="quantity" class="text-lg text-primary-950"></span>
                        <button @click="quantity < 10 ? quantity++ : null" aria-label="Increment quantity">
                            {{ svg src='plus-bold' class="w-6 h-6 fill-current shrink-0 text-primary-950 hover:cursor-pointer" }}
                        </button>
                    </div>
                {{ /sc:cart:updateItem }}
            </div>
        </div>

        {{ sc:cart:removeItem :item="id" }}
            <div class="flex pt-3 ml-4 lg:pt-0">
                <button type="submit" aria-label="Delete item from cart">
                    {{ svg src="trash" class="w-6 h-6 fill-current shrink-0 text-primary-950 hover:cursor-pointer" }}
                </button>
            </div>
        {{ /sc:cart:removeItem }}
    </div>
{{ else }}
    <div class="flex items-start justify-between px-3 py-2.5 mb-2 bg-secondary-50">
        {{ partial:components/picture :image="product:image" class="object-cover w-12 h-12 mr-5" }}
        <div class="flex flex-col flex-auto md:ml-3 lg:ml-0">
            <x-paragraph size="lg" weight="semibold">
                {{ product:title }}
            </x-paragraph>
            <div class="inline-flex items-center uppercase">
                <x-paragraph size="sm" color="light" weight="medium">
                    {{ 'Qty' | trans }}
                </x-paragraph>
                <x-paragraph size="sm" weight="medium" class="ml-2">
                    {{ quantity }}
                </x-paragraph>
            </div>
        </div>

        <x-paragraph size="lg" weight="semibold" class="text-right">
            {{ product:price }}
        </x-paragraph>
    </div>
{{ /if }}
