<div class="{{ showCopyright ?= '-mx-4 -mb-8 overflow-hidden' }} py-12 bg-primary-100 lg:py-20">
    <div class="container">
        <div class="lg:flex lg:justify-between space-y-9 lg:space-y-0">
            <div class="text-center lg:text-left">
                {{ if theme:cta_title }}
                    <x-heading size="h4" as="h2" class="max-w-xl mx-auto mb-3">{{ theme:cta_title }}</x-heading>
                {{ /if }}
                {{ if theme:cta_description }}
                    <x-paragraph>
                        {{ theme:cta_description }}
                    </x-paragraph>
                {{ /if }}
            </div>

            <div class="lg:w-1/2">
                {{# Implement your own integration here #}}
                <form class="lg:flex space-y-3 lg:space-y-0 lg:space-x-2 items-center">
                    <div class="lg:p-1 w-full">
                        {{ partial:vendor/statamic/forms/fields/text handle="email" placeholder="{theme:cta_email}" }}
                    </div>
                    {{ if error }}
                        <p class="text-red-500">{{ error }}</p>
                    {{ /if }}
                    <x-button class="lg:w-max" icon="true" type="submit">
                        {{ theme:cta_subscribe_button }}
                    </x-button>
                </form>

                <div
                    class="prose:text-sm prose-p:text-primary-950 prose-a:underline prose-a:font-semibold mt-3 text-center lg:text-right">
                    {{ theme:cta_disclaimer }}
                </div>
            </div>

            {{# Mobile only #}}
            {{ if showCopyright }}
                {{ theme:footer_items }}
                    {{ if type == 'copyright' }}
                        <div class="border-t pt-8 text-sm text-primary-950 text-center">
                            {{ text }}
                        </div>
                    {{ /if }}
                {{ /theme:footer_items }}
            {{ /if }}
        </div>
    </div>
</div>
