{{ nocache }}
    {{ if {sc:cart:count} !== 0 }}
        {{ partial src="sets/page_header" }}
    {{ /if }}
    <div class="{{ {sc:cart:count} > 0 ? 'pb-16' : 'py-16' }} container">
        {{# Check if cart is empty #}}
        {{ if {sc:cart:count} === 0 }}
            {{ partial:cart/empty_cart }}
        {{ else }}
            <div class="flex flex-col lg:flex-row justify-between gap-8">
                <div class="flex flex-col gap-y-8 lg:w-2/3">
                    <div class="border-b border-primary-400">
                        <x-paragraph size="xl" class="uppercase mb-5">
                            {{ sc:cart:count }}
                            {{ "Product" | plural({sc:cart:count}) }}
                        </x-paragraph>
                    </div>

                    {{ sc:cart }}
                        {{ if items }}
                            {{ items }}
                                {{ partial:partials/cart_items_list variant="cart" }}
                            {{ /items }}
                        {{ /if }}
                    {{ /sc:cart }}
                </div>
                {{ if {sc:cart:count} !== 0 }}
                    <div class="lg:w-1/3">
                        <div class="bg-neutral-100 p-6">
                            <div class="flex flex-col gap-y-8">
                                <x-paragraph size="xl" class="uppercase">
                                    {{ "Summary" | trans }}
                                </x-paragraph>
                                <div class="flex flex-col gap-y-5">
                                    <div class="flex items-center justify-between border-b border-primary-400 pb-5">
                                        <x-paragraph class="uppercase">
                                            {{ "Subtotal" | trans }}
                                        </x-paragraph>
                                        <x-paragraph class="uppercase">
                                            {{ sc:cart:items_total }}
                                        </x-paragraph>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <x-paragraph size="xl" weight="bold" class="uppercase">
                                            {{ "Grand Total" | trans }}
                                        </x-paragraph>

                                        <x-paragraph size="xl" weight="bold" class="uppercase">
                                            {{ sc:cart:items_total }}
                                        </x-paragraph>
                                    </div>

                                    <x-button class="w-full" url="/checkout">
                                        {{ 'Proceed to checkout' | trans }}
                                    </x-button>
                                </div>
                                {{ if theme:before_checkout_disclaimer_text }}
                                    {{ partial:sets/rich_text :rich_text="theme:before_checkout_disclaimer_text" class="prose-p:text-primary-500 prose-p:font-medium prose-p:text-sm prose-a:text-gray-950" }}
                                {{ /if }}
                            </div>
                        </div>
                    </div>
                {{ /if }}
            </div>
        {{ /if }}
    </div>
{{ /nocache }}
