<div class="container py-32 mx-auto">
    <div class="flex flex-col items-center text-center">
        <div class="flex flex-col gap-y-9 max-w-2xl">
            {{ partial:components/picture image="{theme:error_image ?? '/assets/error-image.png'}" class="object-contain mx-auto md:w-[510px] w-[408px] h-[220px] md:h-[275px]" }}

            <p class="text-secondary-800">
                {{ theme:error_title }}
            </p>

            {{ if theme:error_description }}
                {{ partial:sets/rich_text :rich_text="theme:error_description" class="max-w-lg text-secondary-800" }}
            {{ /if }}

            <x-button url="/">
                {{ theme:error_button_text }}
            </x-button>
        </div>
    </div>
</div>
