<div class="py-12 md:py-20">
    <div class="container">
        <div class="flex items-end justify-between mb-16">
            <div class="space-y-4 text-center md:space-y-6 md:text-left">
                <x-heading size="h3">{{ title }}</x-heading>
                {{ if rich_text }}
                    {{ partial:sets/rich_text class="prose-p:text-lg" }}
                {{ /if }}
            </div>
            {{ if has_button }}
                <div class="hidden md:block">
                    <x-button :url="link" variant="outline" class="w-max" icon="true" size="xs">
                        {{ button_title }}
                    </x-button>
                </div>
            {{ /if }}
        </div>

        {{# Mobile #}}
        <div id="related_product" x-ignore ax-load="visible | media (max-width: 768px)"
            x-data="slider('related_product')" class="splide md:hidden">
            <div class="splide__track">
                <div class="splide__list">
                    {{ products }}
                        <div class="splide__slide">
                            {{ partial:partials/product_card }}
                        </div>
                    {{ /products }}
                </div>
                <div>
                    <ul class="splide__pagination"></ul>
                </div>
            </div>
        </div>

        {{# Desktop #}}
        <div class="hidden gap-8 md:grid md:grid-cols-2 lg:grid-cols-4">
            {{ products }}
                {{ partial:partials/product_card }}
            {{ /products }}
        </div>
        {{ if has_button }}
            <div class="flex justify-center w-full md:hidden pt-9">
                <x-button :url="link" variant="outline" class="w-max" icon="true" size="xs">
                    {{ button_title }}
                </x-button>
            </div>
        {{ /if }}
    </div>
</div>
