<div class="container py-12 md:py-20">
    <div class="flex flex-col items-center text-center">
        <x-heading size="h3">{{ title }}</x-heading>
        {{ partial:components/section_description :rich_text="description" class="max-w-2xl mt-6 prose-p:text-lg" }}
    </div>
    {{ if team }}
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mt-9 md:mt-16">
            {{ team }}
                <div class="relative">
                    <div class="bg-gradient-to-b from-[#363B44]/0 to-black h-72 w-full absolute bottom-0"></div>
                    <div class="absolute md:bottom-10 md:left-10 bottom-5 left-5 z-10">
                        <x-paragraph size="xl" color="white" class="uppercase mb-1">
                            {{ title }}
                        </x-paragraph>
                        {{ if position }}
                            <x-paragraph size="xs" color="white" class="italic">
                                {{ position }}
                            </x-paragraph>
                        {{ /if }}
                    </div>
                    <div class="h-[628px] -z-10">
                        {{ partial:components/picture cover="true" }}
                    </div>
                </div>
            {{ /team }}
        </div>
    {{ /if }}
</div>