<div class="{{ position === 'left' ?= 'lg:mr-auto' }}
    {{ position === 'center' ?= 'lg:mx-auto' }}
    {{ position === 'right' ?= 'lg:ml-auto pr-4 xl:pr-20' }}
    {{ theme:logo ?= 'lg:justify-start pl-4 xl:pl-20' }}">
    <ul id="nav-list" class="lg:flex justify-start hidden items-center lg:gap-x-10">
        {{ nav:navigation include_home="true" }}
            <li class="w-full lg:w-auto lg:py-0">
                <a href="{{ url }}" aria-label="{{ title }}"
                    class="uppercase text-primary-950 {{ is_current ?= 'font-semibold' }}" @click="isOpen = false">
                    {{ title }}
                </a>
            </li>
        {{ /nav:navigation }}
    </ul>
</div>
