<div x-data="{ isMobile: false, openMenu: false, openAccountMenu: false }" x-screen="isMobile = ($width < 1024)">
    <div class="bg-primary-100">
        <nav aria-labelledby="nav-heading" :aria-expanded="openMenu"
            class="container flex items-center justify-between py-6 z-50">
            {{ if theme:logo }}
                <a href="/" aria-label="logo" class="w-[82px] h-auto">
                    {{ partial:components/picture :image="theme:logo" cover="true" }}
                </a>
            {{ /if }}
            
            {{ theme:menu_builder }}
                {{ partial:layout/navigation/menu }}
                {{# Desktop #}}
                <div x-show="!isMobile" class="hidden lg:gap-x-4 lg:items-center lg:justify-end lg:flex">
                    {{ partial:layout/navigation/icons }}
                </div>

                {{# Mobile #}}
                <div x-show="isMobile" class="flex items-center justify-end mr-2 gap-x-5 lg:hidden grow">
                    {{ partial:layout/navigation/icons isMobile="true" }}
                </div>
            {{ /theme:menu_builder }}

            {{ partial:layout/partials/toggle_menu }}
        </nav>
    </div>

    {{ partial:layout/partials/small_menu }}
</div>
