{{ nocache }}
    {{ if {session:has key="message"} }}
        {{ session }}
            <div id="alert" class="z-50 flex items-center justify-center md:justify-end">
                <div class="fixed p-3 rounded-lg w-72 right-5 top-5 md:right-20 bg-black">
                    <div class="flex items-center justify-between">
                        <p class="text-white">
                            {{ message ?? '' }}
                        </p>
                        <button type="button" onclick="alert.classList.add('hidden')">
                            {{ svg src="x" class="w-6 h-6 text-white fill-current shrink-0" }}
                        </button>
                    </div>
                </div>
            </div>

            <script>
                let alert = document.getElementById('alert');
                setTimeout(() => {
                    alert.classList.add("hidden")
                }, 5000);
            </script>
        {{ /session }}
    {{ /if }}
{{ /nocache }}