{{ $grid_classes = '' }}
{{ $copyright_grid_classes = '' }}
{{ if (theme:footer_column | count) >= 3 }}
    {{ $grid_classes = "grid-cols-2 lg:grid-cols-4" }}
{{ elseif (theme:footer_column | count) === 2 }}
    {{ $grid_classes = "grid-cols-2 lg:grid-cols-3" }}
{{ /if }}
{{ if (theme:footer_items | count) >= 3 }}
    {{ $copyright_grid_classes = "lg:grid-cols-3" }}
{{ elseif (theme:footer_items | count) === 2 }}
    {{ $copyright_grid_classes = "lg:grid-cols-2" }}
{{ /if }}
{{ if theme:cta_title or theme:cta_description }}
    {{ partial src="partials/cta" }}
{{ /if }}
<div class="bg-primary-100">
    <div class="container">
        {{ if theme:has_menu }}
            <div class="grid gap-x-8 gap-y-12 pt-12 md:pt-6 pb-24 {{ $grid_classes }}">
                {{ if theme:custom_column }}
                    {{ partial:layout/footer-items/column }}
                {{ /if }}
            </div>
        {{ /if }}
        <div class="grid gap-4 border-t border-neutral-600 py-6 mt-6 {{ $copyright_grid_classes }}">
            {{ theme:footer_items }}
                {{ partial src="layout/footer-items/{type}" }}
            {{ /theme:footer_items }}
        </div>
    </div>
</div>
