<div x-data="{ isOpen: false }">
    <div class="{{ !isMobile ?= 'border-b py-8' }} flex items-center w-full lg:border-0 border-primary-950 lg:py-0">
        <div x-data="{ hover: false }" class="duration-300 ease-in-out cursor-pointer" @mouseenter="hover = true"
            @mouseleave="hover = false">
            <button @click="isOpen = !isOpen" aria-label="Toggle search menu"
                class="flex items-center text-xl uppercase text-primary-700 lg:text-base">
                {{ svg src="search" class="{isMobile ? 'w-5 h-5' : 'w-8 h-8 mr-2'} fill-current lg:w-6 md:h-6 text-primary-950 shrink-0" }}
                {{ if !isMobile }}
                    {{ 'Search Collection' | trans }}
                {{ /if }}
            </button>
        </div>
    </div>

    <div x-cloak x-show="isOpen" x-transition:enter="transition origin-top ease-in-out duration-[400ms]"
        x-transition:enter-start="transform -translate-y-full opacity-0"
        x-transition:enter-end="transform translate-y-0 opacity-100"
        x-transition:leave="transition origin-top ease-in-out duration-[400ms]" x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="absolute left-0 right-0 top-[76px] lg:top-[72px] z-50 bg-black/40 h-full">

        <div @click.away="isOpen = false" @keydown.esc="isOpen = false"
            class="w-full mb-8 shadow-xl bg-primary-100 min-h-[60vh]">
            <div x-trap.inert="isOpen" class="container relative pb-4 lg:pb-0">
                {{# Header #}}
                <div class="w-full py-6 mb-10 border-b lg:mb-9">
                    <div class="flex items-center">
                        {{ svg src="search" class="w-6 h-6 fill-current text-primary-950 shrink-0" }}
                        <input type="text" wire:model.live.debounce.250ms="search" name="search"
                            class="w-full text-xl uppercase border-0 focus:outline-hidden focus:ring-0 lg:text-base bg-primary-100 placeholder:text-primary-700"
                            placeholder="{{ 'Search Collection' | trans }}" />
                        <button @click="isOpen = false" aria-label="Close search menu">
                            {{ svg src="close" class="w-6 h-6 fill-current shrink-0 text-primary-950" }}
                        </button>
                    </div>
                </div>

                {{# Results #}}
                <div>
                    <div class="flex items-center justify-between mt-4 lg:mt-0 gap-x-4">
                        <x-heading size="h5" class="max-w-xl">{{ 'Products' | trans }}</x-heading>
                        <x-button variant="outline" url="/products" icon="true" size="xs" class="w-max uppercase">
                            {{ 'View All' | trans }}
                        </x-button>
                    </div>

                    {{# Results #}}
                    {{ if products }}
                        <div class="grid gap-8 py-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                            {{ products }}
                                {{ partial:partials/product_card }}
                            {{ /products }}

                            {{# On loading card skeleton #}}
                            {{ loop times="4" }}
                                {{ partial:components/card_skeleton }}
                            {{ /loop }}
                        </div>
                    {{ else }}
                        <p class="text-secondary-800 mt-8" wire:loading.remove>No results found.</p>
                    {{ /if }}
                </div>
            </div>
        </div>
    </div>
</div>
