/* This is all you. Custom CSS */

/* Custom Pagination */
.custom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -20px;
    position: relative;
}
.custom-pagination .is-active {
    background-color: #010817;
    width: 25px;
    height: 2px;
}
.custom-pagination-page {
    background-color: #DEE0E1;
    margin-left: 10px;
    width: 25px;
    height: 2px;
}

/* Stripe Elements */
.StripeElement {
    padding: 17px;
    border-radius: 9999px;
    background-color: #fff;
    border: 1px solid #cccfd1;
}

.StripeElement--invalid {
    border: 1px solid red;
}
