@import "tailwindcss";
@import "./plugins.css";
@import "../css/splide.css" layer(utilities);
@import "../css/general-sans.css" layer(utilities);
@source "../views";
@source "../../content";


@theme {
    --font-sans: GeneralSans-Variable, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-primary-100: #f6f6f6;
    --color-primary-200: #ebebeb;
    --color-primary-300: #dee0e1;
    --color-primary-400: #cccfd1;
    --color-primary-500: #bbbfc3;
    --color-primary-600: #98a0a9;
    --color-primary-700: #858b92;
    --color-primary-800: #6a7077;
    --color-primary-900: #363b44;
    --color-primary-950: #010817;

    --color-secondary-100: #e6e7f4;
    --color-secondary-200: #cdcfe9;
    --color-secondary-300: #2563eb;
    --color-secondary-500: #8187c7;
    --color-secondary-700: #4f58b1;
    --color-secondary-900: #031090;

    --color-red-200: #fde0e0;
    --color-red-400: #fbc1c1;
    --color-red-600: #faa2a2;
    --color-red-800: #f88383;
    --color-red-900: #f36a6a;

    --color-green-200: #d1f4e7;
    --color-green-400: #a3e8cf;
    --color-green-600: #74ddb7;
    --color-green-800: #46d19f;
    --color-green-900: #18c687;
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    [x-cloak] {
        display: none !important;
    }

    /* Custom Pagination */
    .custom-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -20px;
        position: relative;
    }

    .custom-pagination .is-active {
        background-color: #010817;
        width: 25px;
        height: 2px;
    }

    .custom-pagination-page {
        background-color: #dee0e1;
        margin-left: 10px;
        width: 25px;
        height: 2px;
    }

    /* Stripe Elements */
    .StripeElement {
        padding: 17px;
        border-radius: 9999px;
        background-color: #fff;
        border: 1px solid #cccfd1;
    }

    .StripeElement--invalid {
        border: 1px solid red;
    }
}