<x-dropdown defaultValue="true" class="border-b-2 border-primary-400">
    <x-dropdown.trigger class="flex items-center justify-between w-full my-8">
        <x-paragraph size="xl" class="uppercase">{{ 'Description' | trans }}</x-paragraph>
    </x-dropdown.trigger>
    <x-dropdown.content>
        <div class="pb-8">
            {{ partial:sets/rich_text :rich_text="content" }}
            <x-paragraph>
                {{ content }}
            </x-paragraph>
        </div>
    </x-dropdown.content>
</x-dropdown>
{{ if specifications }}
    <x-dropdown class="border-b-2 border-primary-400">
        <x-dropdown.trigger class="flex items-center justify-between w-full my-8">
            <x-paragraph size="xl" class="uppercase">{{ 'Specifications' | trans }}</x-paragraph>
        </x-dropdown.trigger>
        <x-dropdown.content>
            <div class="w-full pb-8 space-y-4">
                {{ specifications }}
                    <div class="flex space-x-3 uppercase">
                        <x-paragraph color="light" class="w-1/4 lg:w-2/12">
                            {{ key_name }}
                        </x-paragraph>
                        <x-paragraph weight="medium" class="lg:w-10/12">
                            {{ key_value }}
                        </x-paragraph>
                    </div>
                {{ /specifications }}
            </div>
        </x-dropdown.content>
    </x-dropdown>
{{ /if }}
