{{ $oddStyles = 'mt-[189px] md:pr-28 lg:mt-96' }}
<div class="container py-20 relative">
    <div class="grid grid-cols-2 lg:grid-cols-3 lg:gap-0 gap-6">
        {{ category }}
            {{ $marginTop = switch(
                     (index == 0) => 'mt-5 lg:mt-28 md:pr-28',
                     (index == 1) => oddStyles,
                     (index == 3) => oddStyles,
                     (index == 5) => oddStyles,
                     () => 'lg:mt-24') }}
            <div class="{{ $marginTop }}">
                <div class="w-full mx-auto mb-6">
                    {{ partial:components/picture cover="true" }}
                </div>
            </div>
        {{ /category }}
    </div>
    {{ if title }}
        <div class="absolute top-48 md:top-1/2 text-center">
            <x-heading size="h3" class="leading-snug inline bg-white px-2">{{ title }}</x-heading>
        </div>
    {{ /if }}
</div>
